
body{
    background-image: url("../imagenes/mantel.jpg");
    background-size: cover;
    display: flex;
}

#principal{
    background-color: rgb(238, 253, 238);
    margin: 3% 10% 2% 10%;
    width: 80%;
    height: auto;
}
header{
    background-color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
}
#logo {
    width: 50%;
    border: green 9px double;
    border-style: groove;
} 
#banner{
    width: 65%;
    height: 300px;
}

article{
    width: 100%;
    display: block;
}

article div{
    display: flex;
    width: 100%;
    
    flex-wrap: wrap;
    justify-content: center;
    /*justify-content: space-around;*/
    
}

div h3{
    width: 100%;
    
    
}

#articulo div section{
    border: 2px solid black;
    border-radius: 5%;
    width: 400px;
    margin: 2% 2%;
    padding: 3% 0.5%;
    
}

section figure{
    
    height: 55%;
}

figure img{
    width: 100%;
    height: 80%;
}

section p{
    width: 90%;
    height: 24%;
    margin: 2%;
    text-align: justify;
    overflow:scroll;
}

figure figcaption{
    height: 5%;
    font-weight: bold;
    margin: 2%;
}
section h4{
    margin: 1% 6%;
    height: 5%;;
}

section span{
    background-color: transparent;
    margin: 0% 3%;
    width: 20%;
    padding: 1%;
}
section input{
    margin-left: 1%;
    width: 7%;
}


section span{
    margin-left: 1%;
}

.ctitulo{
    margin: 2% 2% 2% 5%;
    text-align: center;
}
nav{
    background-color: white;
    width: 99%;
    height: 100px;
    float: right;
    display: grid;
    grid-template-columns: repeat(4,25%);
    
    border-radius: 5px;
    border: outset ;
    border-color:rgb(19, 196, 19) ;
    margin: 5px  ;
    margin-left: 10px;
    
}
nav a :hover{
    background-color: yellowgreen;
    border-radius: 10px;

}
.menu{
    width: 100%;
    height: 100px;
    text-decoration: none;
    font-size: 100px;
    
    color: rgb(0, 0, 0);
    list-style: none;
    float: left ;
    font-size: large;
  
    align-items: center;
    display: flex;
    justify-content: center;
    
  
    
}
.menu:hover{
    background-color:rgb(204, 221, 204);
    border-radius: 10px;
   
    color: black;
}